@import '~bulma/bulma.sass';


* {
  font-family: "Miller Text", "Georgia", "Times New Roman", Times, serif;

}

.navbar-item img {
  max-height: 4rem;
}

.content-font {
  font-family: "Miller Text", "Georgia", "Times New Roman", Times, serif;
  display: flex;
  height: 100vh;
}


//! STATIONERY INDEX 
.buttonsWrapper {
  display: flex;
  justify-content: center;
}

.buttonsWrapper button {
  display: flex;
  justify-content: center;
  margin: 10px;
}
  
//! DESIGNER SHOW PAGE

.wrapper-designer-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

//! STATIONERY SHOW 

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header{
  display: flex;
  flex-direction: column;
}

.wrapper-stationery-show {
  height: 100vh;
  display: flex;
  justify-content: center;

}

.gig-card {
  margin-top: 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.gig-card:hover {
  transform: scale(1.1)
}


.stationery-show-description {
  display: flex;

  flex-direction: row;
}

.card-content {
  flex-grow: 2;
}

.card-description {
  flex-grow: 1;
  max-width: 20vw;
}

.flex {
  display: flex;
  width: 100vw;
}

//! HOMEPAGE CSS // 


.logo {
  height: 150px;
  width: 150px;
}

.homepage-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}



.shop-by-stationery {
  background-image: url('https://papier.imgix.net/https%3A%2F%2Fd1o785do8fyxgx.cloudfront.net%2Fuser_photos%2Fimages%2F000%2F562%2F441%2Foriginal%2F0820_PPP_onsite_bullet-journals.jpg%3F1598957603?ixlib=rb-3.2.1&w=1108&auto=format%2Ccompress&s=2e2b88f0d7168651e04a0043804b14e9');
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 40px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-grow: 0.5;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.shop-by-stationery h1 {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

.shop-by-stationery:hover {
  background-image: url('https://papier.imgix.net/https%3A%2F%2Fd1o785do8fyxgx.cloudfront.net%2Fuser_photos%2Fimages%2F000%2F562%2F441%2Foriginal%2F0820_PPP_onsite_bullet-journals.jpg%3F1598957603?ixlib=rb-3.2.1&w=1108&auto=format%2Ccompress&s=2e2b88f0d7168651e04a0043804b14e9');
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 40px;
  transform: scale(1.03);
  
}

.shop-by-designer {
  background-image: url('https://d1o785do8fyxgx.cloudfront.net/designers/images/000/000/240/original/0920_Collagerie_Site_v2_Des_Page_Profile.jpg?1599698223');
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 40px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-grow: 0.5;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.shop-by-designer h1 {
background-color: rgba(0,0,0,0.3);
display: flex;
flex-direction: column;
}

.shop-by-designer:hover {
  background-image: url('https://d1o785do8fyxgx.cloudfront.net/designers/images/000/000/240/original/0920_Collagerie_Site_v2_Des_Page_Profile.jpg?1599698223');
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 40px;
  transform: scale(1.03);
}

.welcome {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

//! NAVBAR //
.basket-img{
  margin-right: 10px;
}

//! DESIGNER SHOW PAGE

